:root {
  --color-primary: #3700ff;
  --color-black: #000000;
  --color-secondary: #0a0025;
  --color-text: #949299;
  --color-light: #ededed;
  --color-white: #ffffff;
}

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-black) !important;
  font-family: "IBM Plex Sans", sans-serif;
}

.serif {
  font-family: "Nanum Myeongjo", serif;
  color: var(--color-black);
  font-size: 68px;
}

@media (max-width: 991.98px) {
  .serif {
    font-size: 48px;
  }
}

@media (max-width: 767.98px) {
  .serif {
    font-size: 24px;
  }
}

.container-fluid {
  padding: 0 10vw;
  background-color: var(--color-white);
}

@media (max-width: 767.98px) {
  .container-fluid {
    padding: 0 30px;
  }
}

.border {
  border: #00ff00 1px solid !important;
}

.about {
  margin: 30vh 10vw;
  z-index: 1;
  position: absolute;
}

@media (max-width: 767.98px) {
  .about {
    margin: 25vh 5vw;
    width: 90vw;
  }
}

.about span {
  border-bottom: 1px solid var(--color-black);
  padding-bottom: 5px;
}

span.hello {
  font-size: 68px;
  border-bottom: 1px solid var(--color-white);
  color: var(--color-white) !important;
}

#section-end {
  margin: 20vh 10vw;
  height: 60vh;
  width: 80vw;
  z-index: 1;
  position: absolute;
}

video.finish {
  width: 100vw;
  margin: 0;
  height: 90vh;
}

@media (max-width: 767.98px) {
  video.finish {
    width: 100vw;
    height: 60vh;
  }
}

video.video-stack {
  width: 60vw;
  margin: 20vh 20vw;
  height: 60vh;
}

@media (max-width: 1199.98px) {
  video.video-stack {
    width: 90vw;
    margin: 0 5vw;
    height: 60vh;
  }
}

.serif a {
  color: var(--color-black);
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 5px;
}

@media (max-width: 767.98px) {
  .serif a {
    padding-bottom: 2px;
  }
}

#stack-video {
  margin: 0;
  width: 90%;
}

.stack-intro {
  text-align: center;
  margin: 45vh 20vw;
  width: 60vw;
  height: 10vh;
  font-size: 72px;
  font-weight: 300;
  z-index: 99;
  position: absolute;
  color: #190075;
}

@media (max-width: 767.98px) {
  .stack-intro {
    font-size: 32px;
    font-weight: 400;
    margin: 45vh 5vw;
    width: 90vw;
  }
}

video {
  z-index: -999;
}

video.cloud {
  width: 100vw;
  margin: 10vh 0;
  height: 90vh;
}

@media (max-width: 767.98px) {
  video.cloud {
    width: 100vw;
    height: 50vh;
  }
}

p {
  color: var(--color-text);
  margin: 0;
  padding-top: 10px;
  font-weight: 300;
}

h1 {
  color: var(--color-primary) !important;
  font-size: 24px;
}

h2 {
  color: var(--color-middle);
}

h3 {
  font-size: 20px;
}

.intro {
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 767.98px) {
  .intro {
    font-size: 16px;
  }
}

#navigation {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  font-weight: 300;
  margin: 0 10vw;
  margin-top: 20px;
  width: 80vw;
  padding: 15px;
  padding-right: 10px;
  position: fixed;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 8px;
  z-index: 999;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767.98px) {
  #navigation {
    font-size: 14px;
    margin: 0;
    width: 100vw;
    border-radius: none;
    font-weight: 500;
  }
}

#logo {
  display: inline;
  text-transform: uppercase;
  font-weight: 400;
}

#logo a {
  color: var(--color-primary);
}

#navbar {
  margin: 0;
  padding: 0;
  float: right;
}

#navbar li {
  list-style-type: none;
  padding-left: 40px;
}

@media (max-width: 767.98px) {
  #navbar li {
    padding-left: 10px;
  }
}

.btn-getintouch {
  margin: 0;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 6px;
  white-space: nowrap;
  background-color: var(--color-light);
}

.btn-getintouch:hover {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

#navbar a {
  color: var(--color-black);
}

a {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary) !important;
  text-decoration: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn {
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  text-decoration: none;
  white-space: nowrap;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid transparent;
}

.btn-primary:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn-dark {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: 1px solid transparent;
}

.btn-dark:hover {
  background-color: var(--color-white);
  color: var(--color-secondary) !important;
  border: 1px solid var(--color-secondary);
}

.tags li {
  border-radius: 6px;
  display: inline-block;
  font-size: 16px;
  padding: 5px 10px;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 5px 10px 0;
}

.tags-dark li {
  border: var(--color-black) 1px solid;
  color: var(--color-black);
  font-weight: 500;
}

.tags-white li {
  border: var(--color-white) 1px solid;
  color: var(--color-white);
  font-weight: 400;
}

.stack-line-spacer {
  border-bottom: 1px solid #b9b9b9;
}

@media (max-width: 991.98px) {
  .stack-line-spacer {
    border: none;
  }
}

.stack-tags-web li:first-child {
  border-radius: 6px;
  color: var(--color-white);
  background-color: var(--color-primary);
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 10px;
  white-space: nowrap;
}

@media (max-width: 991.98px) {
  .stack-tags-web li:first-child {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .stack-tags-web li:first-child {
    font-size: 16px;
    background-color: transparent;
    color: var(--color-black);
    border: none;
    padding: 0;
    font-weight: 500;
  }
}

.bg-black {
  background-color: var(--color-black) !important;
}

.stack-tags-web li {
  color: var(--color-black);
  display: inline-block;
  font-size: 32px;
  font-weight: 200;
  padding: 0 20px;
  white-space: nowrap;
  margin: 10px 0;
}

@media (max-width: 991.98px) {
  .stack-tags-web li {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .stack-tags-web li {
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid var(--color-text);
    margin: 2px 0;
  }
}

.stack-tags-science li {
  border-radius: 6px;
  border: 1px solid var(--color-black);
  color: var(var(--color-black));
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 20px;
  white-space: nowrap;
  margin: 0 5px 10px 0;
}

@media (max-width: 767.98px) {
  .stack-tags-science li {
    font-size: 16px;
  }
}

.features li {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.8;
}

@media (max-width: 767.98px) {
  .features li {
    font-size: 16px;
  }
}

.white {
  color: var(--color-white);
  font-weight: 200 !important;
}

.far.fa-check-circle,
.far.fa-dot-circle {
  padding-right: 10px;
  color: var(--color-primary);
}

#anchor-first img,
#caseBerlin img,
#caseMap img,
#caseBlog img,
#anchor-stack img,
#caseThesis img,
#caseImageProcessing img,
#anchor-lab img {
  width: 90%;
  border-radius: 6px;
}

@media (max-width: 1199.98px) {
  #anchor-first img,
  #caseBerlin img,
  #caseMap img,
  #caseBlog img,
  #anchor-stack img,
  #caseThesis img,
  #caseImageProcessing img,
  #anchor-lab img {
    width: 100%;
  }
}

.bg-white {
  background-color: #00ff00;
}

#caseSCB,
#caseMap,
#caseThesis {
  background-color: var(--color-light);
}

#caseBlog {
  background-color: var(--color-white);
}

#caseBlog img {
  width: 100%;
}

#anchor-lab {
  background-color: var(--color-secondary);
}

#anchor-stack {
  background-color: var(--color-light);
}

.thelab {
  font-size: 50px;
  color: var(--color-primary);
}

.bubble-white,
.bubble-light,
.bubble-primary {
  position: relative;
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 6px;
}

.bubble-white::before,
.bubble-light::before,
.bubble-primary::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom-color: var(--color-white);
}

.bubble-light {
  background-color: var(--color-light);
}

.bubble-light::before {
  border-bottom-color: var(--color-light);
}

.bubble-primary {
  background-color: var(--color-primary);
}

.bubble-primary::before {
  border-bottom-color: var(--color-primary);
}

.shadow {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

input[type="text"],
textarea,
button[type="submit"] {
  font-size: 20px;
  border-radius: 6px;
  border: 3px solid transparent;
  outline: none;
}

@media (max-width: 767.98px) {
  input[type="text"],
  textarea,
  button[type="submit"] {
    font-size: 16px;
  }
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--color-white);
  border-radius: 6px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
}

button[type="submit"] {
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 6px;
  color: var(--color-white);
  font-weight: 500;
  padding: 12px 0;
  text-decoration: none;
  margin: 20px 0;
  cursor: pointer;
}

input[type="text"]:focus,
textarea:focus,
button[type="submit"]:focus {
  border: none;
  -webkit-box-shadow: 0 -19px 38px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -19px 38px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px solid var(--color-primary);
}

label {
  color: var(--color-white);
  margin: 40px 0 10px 0;
  font-size: 20px;
}

@media (max-width: 767.98px) {
  label {
    font-size: 16px;
  }
}

#anchor-hey {
  background-color: var(--color-secondary);
  height: 100vh;
}

@media (max-width: 767.98px) {
  #anchor-hey {
    height: auto;
  }
}

.typewrite {
  font-size: 52px;
  color: var(--color-white);
}

@media (max-width: 767.98px) {
  .typewrite {
    font-size: 26px;
  }
}

table {
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 767.98px) {
  table {
    font-size: 16px;
    font-weight: 500;
  }
}

tr th:first-child,
tr td:first-child {
  width: 8em;
  min-width: 8em;
  word-break: break-all;
}

.divider {
  padding: 100px 0;
}

@media (max-width: 767.98px) {
  .divider {
    padding: 0;
    border: none;
  }
}

.carousel,
.carousel-inner {
  border-radius: 6px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
}

.fa-arrow-alt-circle-left,
.fa-arrow-alt-circle-right {
  font-size: 30px;
  color: var(--color-white);
  text-shadow: 0 0 10px #000000;
  opacity: 0.5;
}

.fa-arrow-alt-circle-left:hover,
.fa-arrow-alt-circle-right:hover {
  opacity: 1;
}

.wrapper {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
}

.info {
  height: 100vh;
  background-color: var(--color-black);
}

.contact-spacer {
  padding-top: 200px;
}

@media (max-width: 767.98px) {
  .contact-spacer {
    padding: 0;
  }
}

.thanks {
  font-size: 60px;
  color: var(--color-primary);
  font-weight: 300;
}

.thanks a {
  color: var(--color-primary);
  font-weight: 400;
}

.lab-head {
  color: var(--color-white);
  font-weight: 500;
  font-size: 30px;
}

.lab-intro p {
  padding-top: 26px;
  font-size: 52px;
  line-height: 1.2;
  color: var(--color-primary);
}

@media (max-width: 991.98px) {
  .lab-intro p {
    font-size: 40px;
  }
}

@media (max-width: 767.98px) {
  .lab-intro p {
    font-size: 20px;
  }
}

.lab-intro span {
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 5px;
}

@media (max-width: 991.98px) {
  .lab-intro span {
    border: none;
  }
}

.fa-arrow-circle-down {
  color: var(--color-primary);
  font-size: 26px;
}

/*
.circle {
  background-color: var(--color-secondary);
  width: 100px;
  height: 100px;
  display: block;
  margin: 0;
  padding: 0;
  transform: translate(0, -100px);
  border-radius: 50px;
}*/
#section-last {
  background-color: var(--color-black);
  width: 100vw;
  height: 100vh;
  background-image: url("../mp4/infinity.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% auto;
}

@media (max-width: 767.98px) {
  #section-last {
    width: 100vw;
    height: 60vh;
  }
}

#carouselLabLeft,
#carouselLabRight {
  cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 13.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 14948) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'%3E%3Ccircle fill='%230A0025' cx='25' cy='25.001' r='25'/%3E%3Cg%3E%3Crect x='17.5' y='15' fill='%23FFFFFF' width='5' height='20'/%3E%3Crect x='27.5' y='14.999' fill='%23FFFFFF' width='5' height='20.001'/%3E%3C/g%3E%3C/svg%3E%0A"), pointer;
}
/*# sourceMappingURL=light.css.map */