:root {
  --color-primary: #3700ff;
  --color-primary-soft: #5948ff;
  --color-primary-dark: #0a0025;
  --color-white: #ffffff;
  --color-light: #eeeeee;
  --color-middle: #dadce0;
  --color-text: #5f6368;
  --color-dark: #191b1f;
  --color-black: #000000;
}

html {
  overflow-x: hidden;
  margin: 0;
}

body {
  margin: 0;
  color: var(--color-black) !important;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 767.98px) {
  body {
    font-size: 16px;
  }
}

a {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary) !important;
  text-decoration: none;
}

.serif {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 100;
  color: var(--color-black);
  font-size: 68px;
}

@media (max-width: 991.98px) {
  .serif {
    font-size: 42px;
  }
}

@media (max-width: 767.98px) {
  .serif {
    font-size: 20px;
  }
}

.container-fluid {
  padding: 0 10vw;
}

@media (max-width: 767.98px) {
  .container-fluid {
    padding: 0 30px;
  }
}

.border {
  border: #00ff00 1px solid !important;
}

.about {
  margin: 30vh 10vw;
  z-index: 1;
  position: absolute;
}

@media (max-width: 767.98px) {
  .about {
    margin: 25vh 5vw;
    width: 90vw;
  }
}

.about span {
  border-bottom: 1px solid var(--color-black);
  padding-bottom: 5px;
}

span.hello {
  font-size: 68px;
  border-bottom: 1px solid var(--color-white);
  color: var(--color-white) !important;
}

video.finish {
  width: 50vw;
  margin: 0 25vw;
}

@media (max-width: 767.98px) {
  video.finish {
    min-height: auto;
  }
}

video.video-stack {
  width: 60vw;
  margin: 20vh 20vw;
  height: 60vh;
}

@media (max-width: 1199.98px) {
  video.video-stack {
    width: 90vw;
    margin: 0 5vw;
    height: 60vh;
  }
}

.serif a {
  color: var(--color-black);
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 5px;
}

@media (max-width: 767.98px) {
  .serif a {
    padding-bottom: 2px;
  }
}

#stack-video {
  margin: 0;
  width: 90%;
}

.stack-intro {
  text-align: center;
  margin: 45vh 20vw;
  width: 60vw;
  height: 10vh;
  font-size: 72px;
  font-weight: 300;
  z-index: 99;
  position: absolute;
  color: #190075;
}

@media (max-width: 767.98px) {
  .stack-intro {
    font-size: 32px;
    font-weight: 400;
    margin: 45vh 5vw;
    width: 90vw;
  }
}

video {
  z-index: -999;
}

video.cloud {
  width: 100vw;
  margin: 10vh 0;
  height: 90vh;
}

@media (max-width: 767.98px) {
  video.cloud {
    width: 100vw;
    height: auto;
  }
}

p {
  color: var(--color-text);
  margin: 0;
  padding-top: 10px;
  font-weight: 300;
}

h1 {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 300;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 20px;
    font-weight: 400;
  }
}

h2 {
  padding-top: 20px;
  font-size: 21px;
  color: var(--color-dark);
}

@media (max-width: 767.98px) {
  h2 {
    font-size: 18px;
    font-weight: 400;
  }
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}

@media (max-width: 767.98px) {
  h3 {
    font-size: 18px;
    font-weight: 400;
  }
}

article {
  margin-top: 20px;
  color: var(--color-text);
}

.intro {
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 767.98px) {
  .intro {
    font-size: 16px;
  }
}

#navigation {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  width: 80vw;
  padding: 15px 10px 15px 20px;
  position: fixed;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 8px;
  z-index: 999;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767.98px) {
  #navigation {
    font-size: 14px;
    margin: 0;
    border-radius: 0;
    font-weight: 500;
  }
}

#logo {
  display: inline;
}

#logo img {
  height: 20px;
}

@media (max-width: 575.98px) {
  #logo img {
    height: 15px;
  }
}

#logo a {
  color: var(--color-primary);
}

#navbar {
  margin: 0;
  padding: 0;
  float: right;
}

#navbar li {
  list-style-type: none;
  margin: 0 30px;
}

@media (max-width: 767.98px) {
  #navbar li {
    margin: 0 5px;
  }
}

#navbar a {
  padding: 5px 10px;
  color: var(--color-black);
  border-radius: 6px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'%3E%3Ccircle fill='%23EDEDED' cx='25' cy='25' r='25'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
}

#navbar a:hover {
  color: var(--color-primary) !important;
  text-decoration: none;
  background-size: 120%;
  -webkit-transition: background-size 0.8s ease;
  transition: background-size 0.8s ease;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn {
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  text-decoration: none;
  white-space: nowrap;
}

@media (max-width: 575.98px) {
  .btn {
    font-size: 14px;
  }
}

.btn-prime {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid transparent;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'%3E%3Ccircle fill='%23FFFFFF' cx='25' cy='25' r='25'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
}

.btn-prime:hover {
  background-color: none;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-size: 120%;
  -webkit-transition: background-size 0.5s ease;
  transition: background-size 0.5s ease;
}

.btn-dark {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  border: 1px solid transparent;
}

.btn-intro {
  font-size: 18px;
  background-color: var(--color-primary);
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid transparent;
  padding: 15px 30px;
}

.btn-dark:hover {
  background-color: var(--color-white);
  color: var(--color-primary-dark) !important;
  border: 1px solid var(--color-primary-dark);
}

.tags li {
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  padding: 5px 10px;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 5px 10px 0;
}

@media (max-width: 575.98px) {
  .tags li {
    font-size: 14px;
  }
}

.tags-dark li {
  border: var(--color-middle) 1px solid;
  font-weight: 400;
}

.tags-white li {
  border: var(--color-white) 1px solid;
  color: var(--color-white);
  font-weight: 400;
}

.stack-line-spacer {
  border-bottom: 1px solid #b9b9b9;
}

@media (max-width: 991.98px) {
  .stack-line-spacer {
    border: none;
  }
}

.stack-tags-web li:first-child {
  border-radius: 4px;
  color: var(--color-white);
  background-color: var(--color-primary);
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 10px;
  white-space: nowrap;
}

@media (max-width: 991.98px) {
  .stack-tags-web li:first-child {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .stack-tags-web li:first-child {
    font-size: 16px;
    background-color: transparent;
    color: var(--color-black);
    border: none;
    padding: 0;
    font-weight: 500;
    margin-top: 10px;
  }
}

.bg-black {
  background-color: var(--color-black) !important;
}

@media (max-width: 767.98px) {
  .bg-black {
    background-color: transparent !important;
  }
}

.stack-tags-web li {
  color: var(--color-black);
  display: inline-block;
  font-size: 32px;
  font-weight: 200;
  padding: 0 20px;
  white-space: nowrap;
  margin: 10px 0;
}

@media (max-width: 991.98px) {
  .stack-tags-web li {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .stack-tags-web li {
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid var(--color-text);
    margin: 2px 0;
    padding: 0 5px;
  }
}

.stack-tags-science li {
  border-radius: 4px;
  border: 1px solid var(--color-black);
  color: var(var(--color-black));
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 20px;
  white-space: nowrap;
  margin: 0 5px 10px 0;
}

@media (max-width: 767.98px) {
  .stack-tags-science li {
    font-size: 16px;
  }
}

.features li {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.8;
}

@media (max-width: 767.98px) {
  .features li {
    font-size: 16px;
  }
}

.white {
  color: var(--color-white);
  font-weight: 200 !important;
}

.fas.fa-map-marker-alt,
.far.fa-check-circle,
.far.fa-dot-circle {
  padding-right: 10px;
  color: var(--color-primary);
}

.fas.fa-dot-circle {
  color: #55c1ff;
  padding-right: 5px;
}

#anchor-first img,
#caseBerlin img,
#caseMap img,
#caseBlog img,
#anchor-stack img,
#caseThesis img,
#caseImageProcessing img {
  width: 90%;
}

@media (max-width: 1199.98px) {
  #anchor-first img,
  #caseBerlin img,
  #caseMap img,
  #caseBlog img,
  #anchor-stack img,
  #caseThesis img,
  #caseImageProcessing img {
    width: 100%;
  }
}

.bg-white {
  background-color: #00ff00;
}

#caseSCB,
#caseThesis,
#caseImageProcessing {
  background-color: var(--color-light);
}

#caseBlog {
  background-color: var(--color-white);
}

#caseBlog img {
  width: 100%;
}

#anchor-stack {
  background-color: var(--color-light);
}

.thelab {
  font-size: 50px;
  color: var(--color-primary);
}

.bubble {
  position: relative;
  background-color: var(--color-white);
  padding: 10px 15px;
  width: 80%;
}

.bubble::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom-color: var(--color-white);
}

.shadow {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

input[type="text"],
textarea,
button[type="submit"] {
  font-size: 20px;
  border: 2px solid transparent;
  outline: none;
}

@media (max-width: 767.98px) {
  input[type="text"],
  textarea,
  button[type="submit"] {
    font-size: 16px;
  }
}

input[type="text"] {
  border-radius: 0;
  margin: 30px 0;
  width: 80%;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--color-white);
}

textarea {
  width: 80%;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
}

button[type="submit"] {
  width: 80%;
  background-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'%3E%3Ccircle fill='%230a0025' cx='25' cy='25' r='25'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  color: var(--color-white);
  font-weight: 500;
  padding: 12px 0;
  text-decoration: none;
  margin: 20px 0;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-size: 120%;
  -webkit-transition: background-size 0.8s ease;
  transition: background-size 0.8s ease;
}

input:hover,
textarea:hover {
  border: 2px solid #c0c3c9;
}

input[type="text"]:focus,
textarea:focus {
  border: 2px solid var(--color-primary-soft);
  outline: 2px solid #b0a8ff;
}

#anchor-top {
  height: 100vh;
}

@media (max-width: 767.98px) {
  #anchor-top {
    max-height: 100vh;
  }
}

#anchor-hey {
  background-color: var(--color-white);
  height: 100vh;
  margin: 0;
}

@media (max-width: 767.98px) {
  #anchor-hey {
    height: auto;
  }
}

#anchor-hey a {
  color: var(--color-dark);
  font-weight: 500;
}

#anchor-hey li {
  padding: 10px 0;
  height: auto;
  float: none;
}

@media (max-width: 767.98px) {
  #anchor-hey li {
    padding: 0 20px;
    float: left;
  }
}

.typewrite {
  font-size: 40px;
  font-weight: 400;
  color: var(--color-black);
}

@media (max-width: 767.98px) {
  .typewrite {
    font-size: 26px;
  }
}

@media (max-width: 575.98px) {
  .typewrite {
    font-size: 16px;
  }
}

.divider {
  padding: 100px 0;
}

@media (max-width: 767.98px) {
  .divider {
    padding: 0;
    border: none;
  }
}

.fa-arrow-alt-circle-left,
.fa-arrow-alt-circle-right {
  font-size: 30px;
  color: var(--color-white);
  text-shadow: 0 0 10px #000000;
  opacity: 0.5;
}

.fa-arrow-alt-circle-left:hover,
.fa-arrow-alt-circle-right:hover {
  opacity: 1;
}

.wrapper {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
}

@media (max-width: 767.98px) {
  .wrapper {
    height: auto;
  }
}

.info {
  min-height: 100vh;
  background-color: var(--color-black);
}

.thanks {
  font-size: 60px;
  color: var(--color-primary);
  font-weight: 300;
}

.thanks a {
  color: var(--color-primary);
  font-weight: 400;
}

.lab-head {
  color: var(--color-white);
  font-weight: 500;
  font-size: 30px;
}

.lab-intro p {
  padding-top: 26px;
  font-size: 52px;
  line-height: 1.2;
  color: var(--color-primary);
}

@media (max-width: 991.98px) {
  .lab-intro p {
    font-size: 40px;
  }
}

@media (max-width: 767.98px) {
  .lab-intro p {
    font-size: 20px;
  }
}

.lab-intro span {
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 5px;
}

@media (max-width: 991.98px) {
  .lab-intro span {
    border: none;
  }
}

.fa-arrow-circle-down {
  color: var(--color-primary);
  font-size: 26px;
}

.fa-comment-alt {
  color: var(--color-primary);
}

.btn-pause {
  cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32px' height='32px' viewBox='0 0 32 32' enable-background='new 0 0 32 32' xml:space='preserve'%3E%3Ccircle cx='16' cy='16' r='16'/%3E%3Crect x='11.5' y='10' fill='%23FFFFFF' width='3' height='12'/%3E%3Crect x='17.5' y='10' fill='%23FFFFFF' width='3' height='12'/%3E%3C/svg%3E%0A") 32 32, pointer;
}

.carousel-control-prev {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  opacity: 1 !important;
}

.carousel-control-next {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  opacity: 1 !important;
}

.carousel-control-prev-icon {
  background-image: none;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  -webkit-transform: translate(-25px, 0) rotate(180deg);
          transform: translate(-25px, 0) rotate(180deg);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 13.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 14948) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='right' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M22.279,31.707c-0.393-0.391-0.393-1.025,0-1.416l0,0l5.292-5.292l-5.292-5.292c-0.391-0.391-0.391-1.023,0-1.414l0,0 c0.39-0.392,1.023-0.392,1.413-0.002l0,0l6.71,6.706l-6.707,6.71C23.499,31.902,23.242,32,22.986,32l0,0 C22.73,32,22.474,31.902,22.279,31.707L22.279,31.707z'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
  background-color: var(--color-white);
}

@media (max-width: 575.98px) {
  .carousel-control-prev-icon {
    display: none;
  }
}

.carousel-control-next-icon {
  background-image: none;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  -webkit-transform: translate(25px, 0);
          transform: translate(25px, 0);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 13.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 14948) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='right' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M22.279,31.707c-0.393-0.391-0.393-1.025,0-1.416l0,0l5.292-5.292l-5.292-5.292c-0.391-0.391-0.391-1.023,0-1.414l0,0 c0.39-0.392,1.023-0.392,1.413-0.002l0,0l6.71,6.706l-6.707,6.71C23.499,31.902,23.242,32,22.986,32l0,0 C22.73,32,22.474,31.902,22.279,31.707L22.279,31.707z'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
  background-color: var(--color-white);
}

@media (max-width: 575.98px) {
  .carousel-control-next-icon {
    display: none;
  }
}

.avatar {
  margin: 0 0 30px 5px;
  width: 60px;
  height: 60px;
}

.text-fade {
  background: -webkit-gradient(linear, left top, right top, from(#3700ff), color-stop(#55c1ff), to(#3700ff));
  background: linear-gradient(to right, #3700ff, #55c1ff, #3700ff);
  background-size: 200%;
  color: var(--color-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: text-fade-ani 6s linear infinite alternate;
          animation: text-fade-ani 6s linear infinite alternate;
}

@-webkit-keyframes text-fade-ani {
  to {
    background-position: 200% center;
  }
}

@keyframes text-fade-ani {
  to {
    background-position: 200% center;
  }
}

.fade-light {
  background: -webkit-gradient(linear, left top, right top, from(var(--color-white)), color-stop(var(--color-text)), to(var(--color-white)));
  background: linear-gradient(to right, var(--color-white), var(--color-text), var(--color-white));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#caseMap {
  background-color: var(--color-light);
}

#anchor-section-lp {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.darker {
  background-color: var(--color-dark) !important;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.darker h1 {
  color: var(--color-light);
}

.darker h3 {
  color: var(--color-middle);
}

.darker .tags-dark {
  color: var(--color-light);
}

.circle {
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-color: var(--color-black);
  border-radius: 25px;
  -webkit-transform: translate(0, -25px);
          transform: translate(0, -25px);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'%3E%3Cline fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' x1='25' y1='14.969' x2='25' y2='35.031'/%3E%3Cpolyline fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' points='32.295,27.737 25,35.031 17.705,27.737 '/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: 100%;
  z-index: 999;
}

@media (max-width: 767.98px) {
  .circle {
    display: none;
  }
}

.circle:hover {
  background-color: var(--color-primary);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-circle {
  width: 40px;
  height: 40px;
  background-color: var(--color-black);
  border-radius: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'%3E%3Cline fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' x1='25' y1='14.969' x2='25' y2='35.031'/%3E%3Cpolyline fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' points='32.295,27.737 25,35.031 17.705,27.737 '/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: 100%;
  display: inline-block;
}

.btn-circle-header {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid var(--color-black);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'%3E%3Cline fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' x1='25' y1='14.969' x2='25' y2='35.031'/%3E%3Cpolyline fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' points='32.295,27.737 25,35.031 17.705,27.737 '/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: 100%;
  display: inline-block;
}

.darker .btn-prime:hover {
  background-color: var(--color-primary-soft);
  color: var(--color-primary) !important;
  border: 1px solid transparent;
}

#anchor-lab {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#anchor-lab img {
  width: 100%;
}

.lab-headline {
  font-size: 70px;
  font-weight: 300;
}

@media (max-width: 991.98px) {
  .lab-headline {
    font-size: 24px;
    font-weight: 400;
  }
}

anchor-lab .vertical-center {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

#anchor-lab-showcase {
  background-color: var(--color-black);
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

#anchor-lab-showcase img {
  width: 100%;
}

#anchor-lab-showcase h1 {
  color: var(--color-light);
}

#anchor-lab-showcase h2 {
  margin-top: 30px;
}

#anchor-lab-showcase article {
  margin-top: 10px;
}

#anchor-lab article span {
  padding-bottom: 2px;
}

#anchor-lab article {
  font-size: 24px;
}

@media (max-width: 767.98px) {
  #anchor-lab article {
    font-size: 16px;
    font-weight: 400;
  }
}

.brightness {
  color: var(--color-primary);
  font-weight: 600;
  margin-top: 20px;
}

#footer {
  text-align: center;
  height: 5vh;
  background-color: var(--color-primary-dark);
}

.brightness-box {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 100;
  color: var(--color-white);
}

.brightness-scala {
  padding: 10px;
}

.progress-bar {
  width: 200px;
  height: 4px;
  background-color: var(--color-white);
}

#svglogo {
  display: inline-block;
}

#anchor-hey.container-fluid {
  padding: 0;
}

#section-logo {
  padding: 10px 0;
}

#section-logo.container-fluid {
  padding: 0;
}

.section-hey-left {
  background-color: var(--color-middle);
  padding-left: 10vw;
}

@media (max-width: 767.98px) {
  .section-hey-left {
    padding-left: 5vw;
  }
}

.section-hey-right {
  background-color: var(--color-white);
  padding-right: 10vw;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

@media (max-width: 767.98px) {
  .section-hey-right {
    background-color: var(--color-middle);
  }
}

.section-hey-right li a {
  padding: 20px 0;
}

.section-hey-right li a:hover {
  padding-left: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer-about {
  color: var(--color-text);
  color: #b0b3b8;
  font-size: 28px;
  font-weight: 200;
}

.footer-about p {
  color: #b0b3b8;
  padding: 20px 0;
  font-weight: 200;
}

.footer-adress {
  color: var(--color-primary);
  font-weight: 500;
  padding-top: 50px;
}

@media (max-width: 767.98px) {
  .footer-adress {
    padding: 20px 0;
  }
}

.legend {
  font-size: 16px;
  color: var(--color-primary);
  font-weight: 500;
}

#caseBerlin0 .fa-dot-circle {
  color: #55c1ff;
}

.intro-headline {
  color: var(--color-primary);
  font-size: 50px;
  line-height: 1.3;
  font-weight: 300;
  left: 0;
  right: 0;
  top: 50%;
  width: 60vw;
  margin: 30vh 0;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 767.98px) {
  .intro-headline {
    font-size: 30px;
  }
}

@media (max-width: 575.98px) {
  .intro-headline {
    font-size: 20px;
  }
}

.header {
  display: block;
  font-weight: 300;
}

.sub {
  color: var(--color-black);
  padding: 20px 0;
  display: block;
  font-weight: 300;
}

#section-end {
  color: var(--color-text);
  font-size: 40px;
  background-color: var(--color-dark);
  min-height: 60vh;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  #section-end {
    margin: 0;
  }
}

#section-end a {
  font-weight: 500;
}

/*
.logo-background {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='600px' height='260px' viewBox='0 0 600 260' enable-background='new 0 0 600 260' xml:space='preserve'%3E%3Cpath fill='none' stroke='%235F6368' stroke-width='0.2' d='M165.33,17.09c-0.082-0.047-0.183-0.091-0.292-0.133 c-23.934-13.481-54.296-5.133-67.944,18.753L17.096,175.703c-13.7,23.977-5.369,54.518,18.605,68.217 c0.146,0.083,0.309,0.16,0.482,0.235c23.904,13.329,54.143,4.967,67.753-18.856l79.999-139.993 C197.635,61.329,189.304,30.788,165.33,17.09z'/%3E%3Cpath fill='none' stroke='%235F6368' stroke-width='0.2' d='M583.903,175.688l-80-139.997c-8.862-15.509-25.548-25.191-43.41-25.191 c-17.86,0-34.548,9.682-43.411,25.19l-36.584,64.026L343.911,35.69c-8.862-15.506-25.549-25.19-43.408-25.19 c-17.863,0-34.551,9.682-43.413,25.19l-79.998,139.994c-13.699,23.971-5.376,54.504,18.586,68.209 c0.006,0.004,0.011,0.008,0.017,0.012c23.968,13.693,54.491,5.377,68.199-18.572c0.006-0.012,0.015-0.021,0.021-0.033h-0.001 l36.586-64.027l36.587,64.024c8.861,15.511,25.549,25.194,43.411,25.194c17.86,0,34.546-9.684,43.41-25.192l36.585-64.026 l36.586,64.026c13.701,23.976,44.241,32.304,68.22,18.604C589.274,230.203,597.604,199.662,583.903,175.688z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}*/
/*# sourceMappingURL=light.css.map */